<!-- your html code here -->
<div class="fHeadingContainer bg-white m-auto d-flex">
    <div class="text p-5">
        <div class="title"><strong>This First Heading</strong> Will Catch Your Eye</div>
        <div class="p">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam feugiat erat sollicitudin erat commodo elementum. Praesent sem libero, dictum eget porta in, sagittis id elit. Nullam in magna et enim.</div>
    </div>
    <div class="img"> <img class="rounded imgTag" src="../assets/img/1.jpg"/></div>
 
</div>